<div class="container">
  <div class="row">
    <div class="col s12 m12">
      <div class="card horizontal medium blue-grey darken-1">
        {{!-- <div class="card-image center-align vote-section">
          <a class="btn-flat btn-large waves-effect btn-floating"><i class="material-icons up-vote">expand_less</i></a>
          <h4>5</h4>
          <a class="btn-flat btn-large waves-effect btn-floating"><i class="material-icons down-vote">expand_more</i></a>
        </div> --}}
        <div class="card-stacked">
          <div class="card-content white-text">
            <span class="card-title activator text-capitalize">{{question.title}}<i class="material-icons right">edit</i></span>
            <blockquote>{{question.body}}</blockquote>
            <div class="card-action">
              {{#link-to 'user' question.user.id}}
                <div class="chip hoverable left">
                  <img src={{question.user.photoURL}} alt={{question.user.name}}>
                  {{question.user.name}}
                </div>
              {{/link-to}}
              <div class="right">
                <p>{{time-format question.timestamp}}</p>
                {{#if question.edit}}
                  <p><small>edited {{time-format question.edit}}</small></p>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
        <div class="card-reveal">
          <div class="row">
            <div class="col s12">
              <span class="card-title grey-text text-darken-4">Edit Question<i class="material-icons right">close</i></span>

              <div class="row">
                <form class="col s12" {{action "editQuestion" question on='submit'}}>
                  <div class="row">
                    <div class="input-field col s12">
                      {{input value=question.title type="text" class="validate" required=true}}
                      <label for="title" class="active">Title</label>
                    </div>
                    <div class="input-field col s12">
                      {{textarea value=question.body class="materialize-textarea"}}
                      <label for="body" class="active">Additional Details</label>
                    </div>
                    <div class="col s12">
                      <button id="edit-submit-btn" class="btn waves-effect waves-light card-title left" type="submit">Submit</button>
                      <button data-target="deleteModal" class="waves-effect waves-light btn red right"><i class="material-icons">delete_forever</i></button>
                    </div>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="deleteModal" class="modal">
  <div class="modal-content">
    <h4>Are you sure you want to delete this question?</h4>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-light btn left">Cancel</a>
    <a class="modal-action modal-close waves-effect waves-light btn red right" {{action 'deleteQuestion' question}}>DELETE<i class="material-icons right">delete_forever</i></a>
  </div>
</div>
