<div class="card medium blue-grey darken-1">
  <div class="card-content white-text">
    {{#if (is-owner question.user.userID)}}
      <span class="card-title activator text-capitalize">{{question.title}}<i class="material-icons right">edit</i></span>
    {{else}}
      <span class="card-title text-capitalize">{{question.title}}</span>
    {{/if}}
    <blockquote>{{question.body}}</blockquote>
    <div class="card-action">
      {{#link-to 'user' question.user.id}}
        <div class="chip hoverable left">
          <img src={{question.user.photoURL}} alt={{question.user.name}}>
          {{question.user.name}}
        </div>
      {{/link-to}}
      <div class="right">
        <p>{{time-format question.timestamp}}</p>
      </div>
    </div>
  </div>
  <div class="card-reveal">
    <div class="row">
      <div class="col s12">
        <span class="card-title grey-text text-darken-4">Edit Question<i class="material-icons right">close</i></span>
        {{question-edit question=question editQuestion="editQuestion"}}
      </div>
    </div>
  </div>
</div>
