
{{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      {{#paper-button iconButton=true}}
        {{paper-icon "menu"}}
      {{/paper-button}}
      <h2>
        Quick Question
      </h2>
      <span class="flex"></span>
      {{#if session.isAuthenticated}}
        <span>{{session.currentUser.displayName}} <a {{action "signOut"}} class="btn">{{fa-icon 'sign-out'}}</a></span>
      {{else}}
        <a {{action "signIn" "google"}} class="btn">{{fa-icon "google" size="lg"}}</a>
      {{/if}}
      {{#paper-button iconButton=true}}
        {{paper-icon "more_vert"}}
      {{/paper-button}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

{{outlet}}
