<nav>
  <div class="nav-wrapper blue">
    <a href="/" class="brand-logo center">Quick Question...</a>
    <ul class="left hide-on-med-and-down">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li>{{#link-to 'questions'}}Questions{{/link-to}}</li>
    </ul>
    <ul class="right">
      {{#if session.isAuthenticated}}
        <li>{{session.currentUser.displayName}} <a {{action "signOut"}} class="waves-effect waves-light btn">Sign Out</a></li>
      {{else}}
        <li><a {{action "signIn" "google"}} class="waves-effect waves-light"><i class="material-icons left">person</i>Sign In</a></li>
      {{/if}}
    </ul>
  </div>
</nav>

{{outlet}}
